.bio-section {
  position: relative;
  min-height: 80vh;
  width: 100%;
  background: url('/max.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  color: white;
}

.bio-row {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.bio-col {
  background: rgba(0, 0, 0, 0.9);
  max-width: 90%;
  padding: 30px;
}

.bio-description {
  width: 90%;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.resume-link {
  padding: 10px;
  background: rgb(44, 72, 164);
  color: white;
}

.resume-link:hover {
  color: #b3b6e2;
  text-decoration: none;
}

.bio-section h2 {
  font-size: 45px;
}

.bio-skills {
  padding: 20px 0px 0px;
}

.bio-skill {
  margin: 4px;
  width: 45px;
  height: 45px;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .bio-section {
    background-position: 0px top;
  }

  .bio-row {
    align-items: flex-end;
    justify-content: center;
    padding: 40px;
  }

  .bio-col {
    background: rgba(0, 0, 0, 0.8);
    max-width: 90%;
  }
}


@media screen and (max-width: 736px) {
  .bio-section {
    background-size: 1200px;
    background-position: 0px top;
  }
  .bio-row {
    padding: 20px 0px;
  }
}

@media screen and (max-width: 414px) {
  .bio-section {
    background-size: 1200px;
    background-position: -120px top;
  }
}

@media screen and (max-width: 320px) {
  .bio-section {
    background-size: 1200px;
    background-position: -120px top;
  }

  .bio-description {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
  }

  .bio-section h2 {
    font-size: 35px;
  }
}
