.contact-section {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
}

.contact-section h2 {
  font-size: 50px;
  font-weight: 300;
}

.contact-section h4 {
  font-size: 30px;
  font-weight: 300;
}



.contact-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.contact-section .message-me {
  margin: 20px;
  padding: 15px;
  border-radius: 0px;
  color: white;
  background-color: rgb(44, 72, 164);
  font-size: 25px;
}

.contact-section .message-me:hover {
  background-color: rgb(44, 72, 204);
}
