.footer-section {
  padding: 20px;
  background-color: rgba(44, 72, 164, 0.4);
}

.footer-logo {
  width: 55px;
  height: 55px;
}

.footer-section div {
  padding: 5px;
}

.footer-icon {
  width: 30px;
  height: 30px;
  margin: 4px 10px;
}
